.App {
  text-align: center;
  position: relative;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.home-sec{
  position: relative;
  width: 100%;
  height: 400px;
  background-image: url('assets/background-image.jpg');
}
.home-slide{
  position: absolute;
  bottom: 0;
  left: 28%;
  top: 40%;
}
.menu-sec{
 
  display: flex;
  flex-direction: row;
  list-style-type:none;
}
.slider-sec{
  width: 100% !important;
  height: 500px;
}
.menu-sec li {margin:0 10px;}
.App-header {
  background-color: #282c34;
  min-height: 60px;
  width: 100%;
  font-size: 16px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}
.app-header-sec{
  font-size: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
}
.hb-menu{
  display: none;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 480px) {
  .hb-menu{
      display: block;
  }
  .hb-menu-sec{display: flex;flex-direction: column;justify-content: center;}
  .menu-sec{display: none;}
  .App-header {
    background-color: #282c34;
    min-height: 45px;
    width: 100%;
    font-size: 16px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  
  }
  
  .menu-item{display: flex;flex-direction: row;justify-content: center;}
  .app-header-sec {
    font-size: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-left: 10px;
    
}
.navBar {
  position: relative;
}

.navBar button {
  position: fixed;
  left: 40px;
  top: 40px;
  z-index: 10;
  cursor: pointer;
}

.menuNav {
  overflow-y: scroll;
  list-style: none;
  position: fixed;
  top: 0;
  background: darkcyan;
  left: 0;
  bottom: 0;
  height: 100vh;
  width: 0;
  overflow: hidden;
  max-width: 290px;
  z-index: 9;
}

.menuNav.showMenu {
  width: 100%;
}

a {
  display: block;
  padding: 10px 40px;
  text-decoration: none;
  color: #3fffd2;
  text-transform: uppercase;
  font-weight: bold;
}

.menuNav li:first-child {
  margin-top: 7rem;
}
}